* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-left: 50px;
  margin-top: 30px;
}

/* editBtn.addEventListener('click', (e) => {
  const desc = li.firstElementChild;
  description.value = desc.innerText.split('-')[1];
  desc.innerText.split('-')[1] = description.value;
}); */
