* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-left: 50px;
  margin-top: 30px;
}

ul {
  padding: 10px;
}

span {
  display: inline-block;
  width: 300px;
  font-size: x-large;
  margin: 15px;
  color: rgb(19, 14, 14);
}

#delete,
#edit {
  width: 100px;
  padding: 5px;
  margin: 15px;
  border-radius: 5px;
  background-color: #333333;
  color: whitesmoke;
}
